body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background: #eee;
    height: auto;
}
header {
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: #333;
    font-size: 30px;
    text-align: left;
    padding: 20px;
}

#about {
    position: absolute;
    top: 2%;
    right: 2%;
    float: right;
    padding: 5px;
    margin: 5px;
}
  
#about a {
    background-color: #333;
    padding: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: inline;
    border-radius: 5px;
}
  
#about a:hover {
    color: white;
    background-color: rgb(8, 8, 8);
}

main {
    max-width: 100%;
    margin: auto;
    box-shadow: 30px 0px 40px rgb(0 0 0 / 10%), -30px 0px 40px rgb(0 0 0 / 10%);
}
#landing {
    height: 100%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), 
    url(img/photo-0.jpg);
    background-size: cover;
}

#landing-text {
    height: 100vh;
    display: flex;
    flex: 0 1 40vw;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 40vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
  
}
h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: whitesmoke;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#landing-text h2 {
    color: #888;
}
h2 {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.btn {
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #eee;
    transition: background 500ms ease;
    cursor: pointer;
}

#header {
    padding: 1.5rem;
    text-align: center;
    background: #333;
    color: #fff;
}
#header h2 {
    border-left: dotted 1px #fff;
    border-right: dotted 1px #fff;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
    /* border-left: dotted 1px #fff;
    border-left-width: 1px;
    border-left-style: dotted;
    border-left-color: rgb(255, 255, 255);
    border-right: dotted 1px #fff;
    border-right-width: 1px;
    border-right-style: dotted;
    border-right-color: rgb(255, 255, 255);
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem; */
}
h2 {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img {
    display: block;
    width: 100%;
}
.caption {
    padding: 0.8rem;
    text-align: center;
    margin-bottom: 10px;
    background-color:#ccc;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
img {
    display: block;
    width: 100%;
}
.caption {
    padding: 0.8rem;
    text-align: center;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
img {
    display: block;
    width: 100%;
}
.caption {
    padding: 0.8rem;
    text-align: center;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
img {
    display: block;
    width: 100%;
}
.caption {
    padding: 0.8rem;
    text-align: center;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
img {
    display: block;
    width: 100%;
}
.caption {
    padding: 0.8rem;
    text-align: center;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
footer {
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    color: #333;
}
footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
}
h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
strong {
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
strong {
    font-weight: bold;
}